<!DOCTYPE html>
<html>
  <head>
    <title>Playground</title>
    {{ css('style') }}
  </head>
  <body>
    <div class="container">
      <div class="column">
        <h1>Title1</h1>
        <p>text1</p>
        <button>button1</button>
      </div>
      <div class="column">
        <h1>Title2</h1>
        <p>text2</p>
        <button>button2</button>
      </div>
      <div class="column">
        <h1>Title3</h1>
        <p>text3</p>
        <button>button3</button>
      </div>
    </div>
    {{ js('main') }}
  </body>
</html>
